// Montserrat SemiBold
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.woff2") format("woff2"),
      url("Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Montserrat regular
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.woff2") format("woff2"),
      url("Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Montserrat bold
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Bold.woff2") format("woff2"),
      url("Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Montserrat ExtraBold
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-ExtraBold.woff2") format("woff2"),
      url("Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

// Montserrat medium
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Medium.woff2") format("woff2"),
      url("Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Bebas Neue regular
@font-face {
  font-family: "Bebas Neue";
  src: url("BebasNeue-Regular.woff2") format("woff2"),
      url("BebasNeue-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Inter SemiBold
@font-face {
  font-family: "Inter";
  src: url("Inter-SemiBold.woff2") format("woff2"),
      url("Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// Urbanist regular
@font-face {
  font-family: "Urbanist";
  src: url("Urbanist-Regular.woff2") format("woff2"),
      url("Urbanist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Urbanist SemiBold
@font-face {
  font-family: "Urbanist";
  src: url("Urbanist-SemiBold.woff2") format("woff2"),
      url("Urbanist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}