// миксины для
@mixin padding-left-right {
  padding-left: 50px;
  padding-right: 50px;
}

@mixin footer-later-padding {
  padding-left: 100px;
  padding-right: 100px;
}

@mixin lateral-margins {
  margin-left: 100px;
  margin-right: 100px;
}

@mixin load-moreButton{
  padding: 10px 20px;
  color: $textColor;
  background-color: $dark-grey;
  cursor: pointer;
  border: $dark-black;

  &:hover{
      transform: scale(1.1);
  }
}

//new mixins for fonts

@mixin font-base {
  font-family: $font-family;
  line-height: $line-height;
}

@mixin font-h1 {
  @include font-base;
  font-weight: $font-weight-700;
  font-size: $font-size-h1;
  font-style: normal;
}

@mixin font-h2 {
  @include font-base;
  font-weight: $font-weight-700;
  font-size: $font-size-h2;
  font-style: normal;
}

@mixin font-h3 {
  @include font-base;
  font-weight: $font-weight-500;
  font-size: $font-size-basic;
  font-style: normal;
  color: $greyTextColor;
}

@mixin font-tagline {
  @include font-base;
  font-weight: $font-weight-500;
  font-size: $font-size-basic;
  font-style: italic;
}

@mixin font-basic {
  @include font-base;
  font-weight: $font-weight-500;
  font-size: $font-size-basic;
  font-style: normal;
}

@mixin font-tooltips {
  @include font-base;
  font-weight: $font-weight-400;
  font-size: $font-size-toolTips;
  font-style: normal;
}

@mixin font-main-errorMsg {
  @include font-base;
  font-weight: $font-weight-800;
  font-size: $font-size-erMsg;
  font-style: normal;
}
