//colors
$dark-black: #0F0F0F;
$light-black: #141414;
$dark-grey:#1A1A1A;
$red: #E50000;
$tomato: tomato;

//breakpoints

//fonts
$font-family-bebasNeue: "Bebas Neue", sans-serif;
$font-family-inter: "Inter", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-urbanist: "Urbanist", sans-serif;

$font-weight-700: 700;
$font-weight-500: 500;
$font-weight-400: 400;
