.logo-container {
  display: grid;
  grid-row: 1;
  align-content: end;
}

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $dark-black;
  color: $textColor;

  &__container {
    @include footer-later-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }

  &__nav,
  &__links {
    padding-top: 7px;
  }

  // &__nav {
  //   flex-grow: 1;
  //   justify-content: center;

  //   .nav__menu {
  //     width: 70%;
  //     gap: 10px;
  //     justify-content: space-around;
  //   }
  // }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include font-nav-600;
  }

  &__links-list {
    display: flex;
    gap: 15px;
  }

  &__links-item {
    width: 48px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__links-link {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  &__policy {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap-reverse;
    @include font-footer-400;
    @include footer-later-padding;
  }

  &__legal {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__disclaimer {
    @include font-footer-300;
  }

  &__terms {
    display: flex;
    gap: 10px;
  }

  &__terms-link:hover {
    color: $tomato;
  }
}
