.logo-container {
  display: grid;
  grid-row: 1;
  align-content: end;
}

.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: $dark-black;
  color: $textColor;

  &__container {
    @include footer-later-padding;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }

  &__nav,
  &__links {
    padding-top: 7px;
  }

  &__nav {
    flex-grow: 1;
    justify-content: center;

    .nav__menu {
      width: 70%;
      gap: 10px;
      justify-content: space-around;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include font-nav-600;
  }

  &__links-list {
    display: flex;
    gap: 15px;
  }

  &__links-item {
    width: 48px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__links-link {
    display: inline-block;
    width: 100%;
    height: auto;
  }

  &__policy {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    @include font-footer-400;
    @include footer-later-padding;
  }

  &__rights {
    grid-column: 1/4;
  }

  &__terms {
    grid-column: 7;
  }

  &__privacy-policy {
    grid-column: 8;
  }

  &__cookie-policy {
    grid-column: 9;
  }

  &__policy-link {
    text-decoration: none;
    justify-content: center;
  }
}
