.logo-container {
  display: flex;
  align-items: center;

  &__icon {
    object-fit: cover;
    cursor: pointer;
  }
}

.header__first-line {
  height: 70px;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  @include padding-left-right;
  background-color: $light-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.nav {
  display: flex;
  align-items: center;

  &__menu {
    display: flex;
    gap: 5vw;
    @include font-nav-600;
  }

  &__menu-item:hover {
    cursor: pointer;
    font-weight: bold;
    color: tomato;
  }
}
.search {
  display: flex;
  align-items: center;
  gap: 20px;

  &__input {
    padding: 10px 20px;
    border-radius: 20px;
    width: 20vw;
    border: none;
    @include font-footer-300;
  }

  &__icon {
    cursor: pointer;
    height: 75%;
  }
}

.header .movie-banner {
  @include margins-main-banner;
}
