// Оверлэй для popup: занимает весь экран и скрыт по умолчанию
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: $light-black;
  z-index: 10;

  &.active {
    display: flex;
  }
}

// Контейнер popup с отступами и скруглением
.movie-card {
  background: $dark-grey;
  border-radius: 8px;
  @include padding-left-right;
  width: 700px;
  max-width: 90%;
  position: fixed;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, min-content);
  gap: 0px 10px;
  grid-template-areas:
    "poster title"
    "poster year"
    "poster overview"
    "poster tmdb"
    "poster control-bar";
  z-index: 20px;
}

// Кнопка закрытия popup
.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/*Grid-контейнер для двух колонок: левая (220px) и правая (остальная ширина)
.popup-grid {
  display: grid;
}*/

// Стили для левой колонки: постер
.popup-image {
  grid-area: poster;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

// Стили для правой колонки: информация о фильме
/*.popup-info {
  display: flex;
  flex-direction: column;
}*/

.popup-title__container {
  grid-area: title;
  width: 100%;
}

.popup-title {
  font-size: 1.5rem;
  margin: 0;
}

.popup-year__container {
  grid-area: year;
  width: 100%;
}

.popup-year {
  font-size: 1rem;
  color: #666;
}

.popup-link {
  margin: 0.5rem 0;
  text-decoration: none;
  color: #007bff;
}

.popup-icon {
  width: 12%;
  height: 9%;
}

.popup-overview__container {
  grid-area: overview;
  width: 100%;
}

.popup-overview {
  font-size: 1rem;
  line-height: 1.4;
}

.tmdb-container {
  grid-area: tmdb;
  width: 100%;
}

.popup-year__container {
  grid-area: year;
  width: 100%;
}

.control-bar__container {
  grid-area: control-bar;
  width: 100%;
}

// Стили для маленькой картинки, по которой открывается popup
.movie {
  display: inline-block;
  cursor: pointer;
}

.movie img {
  width: 150px; /* размер миниатюры */
  border-radius: 4px;
}